body {
    min-height:100vh;
    background-color: #F5F5F5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height:25vh;
    background-color:#F76C6C;
    background-image: url("assets/pattern.png");
    background-size: cover;
}

header img {
    width:20%;
    min-width: 300px;
}

h1 {
    font-size: 2em;
}

main {
    background-color:#FFF;
    color:#39424E;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:60%;
    max-width:800px;
    border-radius: 10px;
    border: 1px solid #DDD;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    font-size:0.8em;
    padding:50px 0;
}

main>* {
    width:80%;
}

label, input {
    display:block;
}

label {
    margin:20px 0;
}

input {
    width:100%;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color:#F76C6C;
    border:0;
    padding:0.5em;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 5px;;
}

footer {
    height:3vh;
    font-size: 0.6em;
    text-transform: uppercase;
    background-color:#FFF;
    display:flex;
    justify-content: space-between;
    position:fixed;
    width:100vw;
    bottom:0;
}

footer p{
    padding: 0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}