body {
    min-height:100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #39424E;

}

header {
    height:5vh;
    background-color:#F76C6C;
    background-image: url("assets/pattern.png");
    background-size: cover;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}

#menu-left {
    height:100%;
    display:flex;
    flex-flow:row nowrap;
}

#menu-left>img {
    height:100%;
}
#menu-right {
    width:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#menu-right>img {
    height:80%;
}

nav{
    height:5vh;
    background: #E0E0E0;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
}
#nav-right, #nav-left {
    height:100%;
    display: flex;
    justify-content: center;;
    align-items: center;
}
#nav-right img, #nav-left img {
    height:80%;
}

h1{
    font-size: 2em;
    margin:20px;
}
h2{
    font-size: 1.5em;
    margin:20px;
}

section {
    margin: 20px;
}

footer {
    height:3vh;
    font-size: 0.6em;
    text-transform: uppercase;
    background-color:#FFF;
    display:flex;
    justify-content: space-between;
    position:fixed;
    width:100vw;
    bottom:0;
}

footer p{
    padding: 0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}